*.*~
__pycache__/
*.pkl
data/
**/*.egg-info
.python-version
.idea/
.vscode/
.DS_Store
_build/

# Ignore Python virtual environments
.venv/
env/
venv/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore system files
.DS_Store
.idea/
.vscode/
